header{
    display: flex;
    justify-content: space-between;
    background-color: #474787;
    border-bottom: 10px solid #2c2c54;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

img{
    height: 60px;
    width: 60px;
    transition: transform 450ms ease-out;
}

img:hover{
    transform: rotate(-720deg) scale(1.2);
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#fireBall{
    transition: transform 200ms;
}

#fireBall::before{
    content: "";
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftoppng.com%2Fpublic%2Fuploads%2Fthumbnail%2Fpixel-fireball-fireball-pixel-art-11563130610qatf6kwrk9.png&f=1&nofb=1&ipt=cbdc1f540bf58150c5984e9b352acd2684b9b887574d1626956ba64b889da28a&ipo=images");
    width: 10px;
    height: 10px;
    transform: scale(1.9);
    background-size: 100%;
    margin-right: 10px;
}

#fireBall:hover{
    transform: scale(1.12);
}

#fireBall:active{
    transform: scale(.1);
    transition: transform 50ms;
}

.button{
    display: inline-block;
    background-color: #b33939;
    box-shadow: 5px 5px 5px #2c2c54;
    padding: 18px 20px;
    margin: 0px;
    border-radius: 5px;
    transition: transform 200ms cubic-bezier(0.45, 0.97, 0.68, 2.80);
}

.button:hover{
    background-color: #ff5252;
    color: #2c2c54;
    transform: scale(1.08);
    cursor: pointer;
}

.button:active{
    transform: scale(.1);
    transition: transform 100ms;
}

h2{
    margin-top: 28px;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 5px 5px 0px black;
}

#nameBox{
    display: inline-block;
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 5px 5px 0px black;
    text-align: center;
}

#bgPixel{
    background-image: "assets\img\photo.png";
}