.box{
    display: inline-block;
    background-color: #3A4042;
    padding: 42px 44px;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 5px 5px 0px black;
    text-align: center;
}

.box .title{
    margin-bottom: 28px;
}