.button{
    display: inline-block;
    background-color: #b33939;
    box-shadow: 5px 5px 5px #2c2c54;
    font-size: 20px;
    padding: 18px 20px;
    margin: 0px;
    border-radius: 5px;
    transition: transform 200ms cubic-bezier(0.45, 0.97, 0.68, 2.80);
}

.button:hover{
    background-color: #ff5252;
    color: #2c2c54;
    transform: scale(1.08);
    cursor: pointer;
    text-shadow: 1px 1px 1px #191930;
}

.button:active{
    transform: scale(0);
    transition: transform 100ms;
}